.body {
    font-family: Roboto;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

input,
select,
textarea {
    font-family: Roboto;
    font-size: 14px;
}

.wrapper {
    width: 956px;
    margin: 0 auto;
}

.title {
    font-size: 22px;
    font-weight: 400;
}
.top {
    background: #ffffff; /* white */
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    height: 72px;
    width: 100%;
    top: 0px;
    position: relative;
    z-index: 10;
}

.top .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.top .logo {
    background: url("images/logo.svg") no-repeat;
    width: 120px;
    height: 15px;
    display: block;
}

.top .rightBar {
    align-items: center;
    display: flex;
}

.rightBar .basket {
    background: url("images/basket.png") no-repeat;
    width: 40px;
    height: 72px;
    display: block;
}

.rightBar .login {
    padding: 16px 16px;
}

.rightBar .login a {
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: #000; /* black */
    border: 2px solid #e7e7e7;
    padding: 14px 20px;
}

.rightBar .login a:hover {
    color: #06c167; /* green */
}


/* SEARCH */

.search input[type=text] {
    background: #fff;
    border: none;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(151, 151, 151, 1);
    outline: none;
    padding: 24px 721px 0px 0px;
    font-size: 16px;
    float: left;
    color: rgba(98, 98, 98, 1); /* grey */
    width: 100%;
}


/* PRODUCTS */

.products {
    margin-top: 136px;
}
